<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <title>Adopción</title>
        <!-- Bootstrap core CSS -->
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="/css/fontawesome.css">
        <link rel="stylesheet" href="/css/templatemo-plot-listing.css">
        <link rel="stylesheet" href="/css/animated.css">
        <link rel="stylesheet" href="/css/owl.css">
        <!--    TemplateMo 564 Plot Listing    https://templatemo.com/tm-564-plot-listing-->
        <link rel="stylesheet" href="/css/nuestros.css">
    </head>

    <body>
        <!-- ***** Preloader Start ***** -->
        <div id="js-preloader" class="js-preloader">
            <div class="preloader-inner">
                <span class="dot"></span>
                <div class="dots">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- ***** Preloader End ***** -->

        <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky wow slideInDown animated background-header" data-wow-duration="0.75s" data-wow-delay="0s">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <a href="/" class="logo" style="width: 70px;">
                                <img src="images/perroygato.png" style="width: 60px; height: 60px;">
                            </a>

                            <!-- ***** Logo End ***** -->
                            <a href="/">
                                <span class="PFBEAUSANS-SEMIBOLD" style="font-size: 36px; color: var(--LAVENDER); vertical-align: bottom;">GESOC</span>
                            </a>

                            <!-- ***** Menu Start ***** -->
                            {{>headerMainTemplate.hbs}}
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->

        <div class="main-banner2">
            {{>ingresoModal.hbs}}
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="top-text header-text">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 40px; margin-bottom: 50px;">
            <div class="row justify-content-start">
                {{#each mascotas}}
                    <div class="col-4" style="margin-top: 30px;">
                        <div class="card" style="width: 20rem;">

                            <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    {{#each pathFoto}}
                                        {{#if @first}}
                                            <div class="carousel-item active">
                                                <img src="data:image/png;base64,{{this}}" class="d-block w-100" alt="...">
                                            </div>
                                        {{else}}
                                            <div class="carousel-item">
                                                <img src="data:image/png;base64,{{this}}" class="d-block w-100" alt="...">
                                            </div>
                                        {{/if}}
                                    {{/each}}
                                </div>

                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>

                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title PFBEAUSANS-SEMIBOLD LETRAS-MEDIUM_PURPL">
                                    {{nombre}} ({{apodo}})
                                </h5>
                            </div>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item HELVETICANEUE-REGULAR LETRAS-DARK_VIOLET">
                                    Descripción: {{descripcion}}
                                </li>
                                <li class="list-group-item HELVETICANEUE-REGULAR LETRAS-DARK_VIOLET">
                                    Tipo: {{tipo}}
                                </li>
                                <li class="list-group-item HELVETICANEUE-REGULAR LETRAS-DARK_VIOLET">
                                    Sexo: {{sexo}}
                                </li>
                                <li class="list-group-item HELVETICANEUE-REGULAR LETRAS-DARK_VIOLET">
                                    Fecha de Nacimiento: {{fechaNacimiento}}
                                </li>
                                {{#each this.caracteristica}}
                                    <li class="list-group-item HELVETICANEUE-REGULAR LETRAS-DARK_VIOLET">
                                        {{@key}}: {{this}}
                                    </li>
                                {{/each}}
                            </ul>

                            <div class="card-body">
                                <a href="/contactarPersona/{{idMascota}}" class="card-link btn btn-primary BTN-VIOLETITA TXT-CEN">
                                    Contactar
                                </a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>

            <div class="lg-4 text-center" style="margin-top: 30px;">
                {{#if ant}}
                    <a href="/adopcion/{{ant}}" class="b1 previous round ">
                        &#8249;
                    </a>
                {{/if}}
                {{#if prox}}
                    <a href="/adopcion/{{prox}}" class="b1 next round ">
                        &#8250;
                    </a>
                {{/if}}
            </div>
        </div>

        <footer>
            {{>footerMainTemplate.hbs}}
        </footer>

        <!-- Scripts -->
        <script src="/jquery/jquery.min.js"></script>
        <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/js/owl-carousel.js"></script>
        <script src="/js/animation.js"></script>
        <script src="/js/imagesloaded.js"></script>
        <script src="/js/custom.js"></script>

    </body>

</html>